

<div id="gridContainer"></div>

<script>

    var userData;

    $.ajax({
        url: `@Url.Content("~/api/ListUser")`,
        type: 'GET',
        dataType: 'json',
        async: false,
        success: function (data) {
            userData = data
            console.log(data)
        },
        error: function (error) {
            console.log(error);
        }
    });
    $(function () {
       var Data = new DevExpress.data.DataSource({
            store: {
                type: 'array',
                data: @Html.Raw(ViewBag.data)
            }
        });

        $("#gridContainer").dxDataGrid({
            dataSource: Data,
            paging: { enabled: true },
            paging: {
                pageSize: 10,
                pageIndex: 1    // Shows the second page
            },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [2, 5, 10, 15, 20, 50],
                showNavigationButtons: true
            },
            columns: [

                { dataField: "AttendanceName", caption: "Jelenlét ív neve" },
                { dataField: "CreatedAt", caption: "Léttrehozás dátuma" },
                {
                    dataField: "userId",
                    caption: "Gyakornok neve",
                    lookup: {
                        dataSource: userData,
                        valueExpr: "userId",
                        displayExpr: "name",
                    },
                },
                {
                    type: 'buttons',
                    buttons: [

                        {
                            hint: 'Lezárás',
                            icon: 'add',
                            onClick(e) {
                                const confirmation = window.DevExpress.ui.dialog.confirm("Biztosan jóváhagyod az egész hónapi munkát ?", "Megerősítés");
                                confirmation.then((dialogResult) => {
                                    if (dialogResult === true) {
                                        console.log(e.row.data.AttendanceId);
                                        $.ajax({
                                            type: "POST",
                                            url: "@Url.Content("~/Attendances/ApproveAtt/")" + e.row.data.AttendanceId,
                                            success: function () {
                                                //location.reload();
                                                Data.store().remove(e.row.data);
                                                Data.reload().done(function () {
                                                    DevExpress.ui.notify("Sikeresen engedélyezted a jelenléti ívet ", "success", 4000);
                                                })
                                                    .fail(function (error) {
                                                        DevExpress.ui.notify("Hiba történt a frissítés közben: " + error, "error", 4000);
                                                    });
                                            },
                                            error: function () {
                                                window.DevExpress.ui.dialog.alert("Hiba történt a csoport törlésekor!", "Hiba");
                                            }
                                        });
                                        
                                    }
                                });
                            }
                        },
                        {
                            hint: 'Megtekintés',
                            icon: 'edit',
                            onClick(e) {
                                console.log(e.row.data.AttendanceId);
                                window.location.href = "@Url.Content("~/Attendances/ApproveSheetAttendance/")" + e.row.data.AttendanceId                                                                            
                            }
                        }
                    ]
                },


            ]
           


        });
    });
</script>