
<form action="@Url.Content("~/Attendances/Create/")" method="post">
    <div id="form-container"></div>
</form>



@section scripts {
    <script>

        var userData;

        $.ajax({
            url: '@Url.Content("~/ListUserForPrincipal")',
            type: 'GET',
            dataType: 'json',
            async: false,
            success: function (data) {
                userData = data
                console.log(data)
            },
            error: function (error) {
                console.log(error); // This will log any errors to the console
            }
        });


        $(function () {
            $("#form-container").dxForm({
                items: [
                   
                    { dataField: "AttendanceName", label: {
                            text: "Jelenléti ív neve"
                        } },
                    
                    {
                        dataField: "CreatedAt",
                        dataType: "date",
                        editorType: "dxDateBox",
                        
                        label: {
                            text: "Létrehozás dátuma"
                        }
                    },
                    {
                        dataField: "userId",
                        editorType: 'dxLookup',
                        editorOptions: {
                            dataSource: userData,
                            displayExpr: 'name',
                            valueExpr: 'userId'

                        },
                        label: {
                            text: "Gyakornok neve"
                        }

                    },
                    {
                        itemType: "button",
                        buttonOptions: {
                            text: "Létrehozás",
                            type: "success",
                            useSubmitBehavior: true,
                        }
                    }
                ],

                labelLocation: "top"
            });
        });
    </script>
}