<div id="gridContainer"></div>

<script>
   
    var userData;

    $.ajax({
        url: `@Url.Content("~/api/ListUser")`,
        type: 'GET',
        dataType: 'json',
        async: false,
        success: function (data) {
            userData = data
            console.log(data)
        },
        error: function (error) {
            console.log(error); 
        }
    });
    $(function () {
        var Data = new DevExpress.data.DataSource({
            store: {
                type: 'array',
                data: @Html.Raw(ViewBag.data)
            }
        });

        $("#gridContainer").dxDataGrid({
            dataSource: Data,
            paging: { enabled: true },
            paging: {
                pageSize: 15,
                pageIndex: 1    // Shows the second page
            },
             pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [2,5,10,15, 20, 50],
                showNavigationButtons: true
            },
            columns: [
                   
                { dataField: "AttendanceName", caption: "Jelenlét ív neve" },
                { dataField: "CreatedAt", caption: "Létrehozás dátuma",
                    cellTemplate: function (container, options) {
                        var createdDate = new Date(options.value);
                        var formattedDate = createdDate.toLocaleDateString("en-US", {
                            year: "numeric",
                            month: "2-digit",
                            day: "2-digit"
                        });
                        $("<div>")
                            .text(formattedDate)
                            .appendTo(container);
                    }
                },
                {
                    dataField: "userId",
                    caption: "Gyakornok neve",
                    lookup: {
                        dataSource: userData,
                        valueExpr: "userId",
                        displayExpr: "name",
                    },
                },
                {
                    type: 'buttons',
                    buttons: [
                        
                        {
                            hint: 'Törlés',
                            icon: 'remove',
                            onClick(e) {

                               
                             

                                const confirmation = window.DevExpress.ui.dialog.confirm("Biztosan törölni szeretné a csoportot?", "Megerősítés");
                                confirmation.then((dialogResult) => {
                                    if (dialogResult === true) {
                                        $.ajax({
                                            type: "POST",
                                            url: "@Url.Content("~/Attendances/Delete/")" + e.row.data.AttendanceId,
                                            success: function () {
                                                //location.reload();
                                                //dataSource.load();
                                                 Data.store().remove(e.row.data);
                                                Data.reload().done(function () {
                                                    DevExpress.ui.notify("Sikeresen törölted a jelenléti ívet ", "success", 4000);
                                                })
                                                    .fail(function (error) {
                                                        DevExpress.ui.notify("Hiba történt a frissítés közben: " + error, "error", 4000);
                                                    });
                                                //DevExpress.ui.notify("Sikeresen törölted a jelenlétívet ", "success", 4000);
                                            },
                                            error: function () {
                                                window.DevExpress.ui.dialog.alert("Hiba történt a csoport törlésekor!", "Hiba");
                                            }
                                        });
                                    }
                                });
                            }
                        }
                    ]
                },


            ],
            toolbar: {
                items: [
                    {
                        widget: "dxButton",
                        options: {
                            icon: 'add',
                            onClick() {
                                window.location.href = `@Url.Content("~/Attendances/Create/")`;
                            }
                        }
                    }

                ]
            }



        });
    });
</script>