
<form id="formDayOff" action="@Url.Content("~/TicketApprov/DayOff")" method="post">
    <div id="form-container"></div>
</form>

@section scripts {
    <script>
        var groupData = @Html.Raw(@ViewBag.UserGroup);
        //console.log(groupData);

        $(function () {
            $("#form-container").dxForm({
                items: [
                    {
                        dataField: "Title",
                        editorType: 'dxTextBox',
                        editorOptions:{
                            required:true
                        },
                        label: { text: "Cím" }
                    },
                    {
                        dataField: "Description",
                        label: { text: "Leírás" },
                        editorOptions:{
                            required:true
                        },
                        editorType: "dxTextArea"
                    },
                    {
                        dataField: "StartDayOff",
                        label: { text: "Szabadság első napja" },
                        editorType: "dxDateBox",
                        editorOptions: {
                            validationRules: [{
                                type: "date",
                                message: "Please enter a valid date"
                            }]
                        }
                    },
                    {
                        dataField: "EndDayOff",
                        label: { text: "Szabadság utolsó napja" },
                        editorType: "dxDateBox",
                        editorOptions: {
                            validationRules: [{
                                type: "date",
                                message: "Please enter a valid date"
                            }]
                        }
                    },
                    {
                        dataField: "groupId",
                        editorType: 'dxLookup',
                        editorOptions: {
                            dataSource: groupData,
                            displayExpr: 'Name',
                            valueExpr: 'groupId'

                        },
                         label: { text: "Munkacsoport" },
                    },
                    {
                        itemType: "button",
                        buttonOptions: {
                            text: "Mentés",
                            type: "success",
                            onClick(e){
                               
                                
                                //e.preventDefault(); // prevent the default button behavior
                                const form = $("#formDayOff").get(0);
                                const formInstance = $("#form-container").dxForm("instance");
            
                                // Get the StartDayOff value
                                const startDayOffValue = formInstance.getEditor("StartDayOff").option("value");
            
                                // Get the EndDayOff value
                                const endDayOffValue = formInstance.getEditor("EndDayOff").option("value");

                                
                                if(startDayOffValue>endDayOffValue){
                                    DevExpress.ui.notify("A szabadság első napja nem lehet későbbi a szabadság utolsó napjánál !", "error", 4000);
                                    return;
                                }

                                const titleValue = formInstance.getEditor("Title").option("value");

                                // Check if the Title field value is empty or null
                                if (!titleValue) {
                                    DevExpress.ui.notify("Kérlek adj meg egy címet", "error", 4000);
                                    return;
                                }
                                const descriptionValue = formInstance.getEditor("Description").option("value");
                                if (!descriptionValue) {
                                    DevExpress.ui.notify("Kérlek adj meg a szabadság indokát", "error", 4000);
                                    return;
                                }
                                //console.log("Start Day Off:", startDayOffValue);
                                //console.log("End Day Off:", endDayOffValue);
                                //console.log(form);
                                form.submit(); // submit the form
                            }
                            
                        }
                    }
                ],
                editorOptions: {
                    required: true // set all form fields as required by default
                },
                validationGroup: "dayOffForm",
                labelLocation: "top"
            });

          
        });
    </script>
}