
<form action="@Url.Content("~/UsersInRoles/Create/")" method="post">
    <div id="form-container"></div>
</form>



@section scripts {
    <script>

        var userData;

        $.ajax({
            url: `@Url.Content("~/api/ListUser")`,
            type: 'GET',
            dataType: 'json',
            async: false,
            success: function (data) {
                userData = data
                console.log(data)
            },
            error: function (error) {
                console.log(error);
            }
        });

        var roleData;

        $.ajax({
            url: `@Url.Content("~/api/ListRole")`,
            type: 'GET',
            dataType: 'json',
            async: false,
            success: function (data) {
                roleData = data
                console.log(data)
            },
            error: function (error) {
                console.log(error);
            }
        });

        $(function () {
            $("#form-container").dxForm({
                items: [

                    {
                        dataField: "roleId",
                        caption: "Szerepkör",
                        editorType: 'dxLookup',
                        editorOptions: {
                            dataSource: roleData,
                            displayExpr: 'name',
                            valueExpr: 'id'

                        }, label: {
                            text: "Szerepkör"
                        }
                        
                    },
                    {
                        dataField: "userId",
                        editorType: 'dxLookup',
                        editorOptions: {
                            dataSource: userData,
                            valueExpr: "userId",
                            displayExpr: "name",
                        },
                          label: {
                            text: "Felhasználó "
                        }
                    },
                    {
                        itemType: "button",
                        buttonOptions: {
                            text: "Mentés",
                            type: "success",
                            useSubmitBehavior: true,
                        }
                    }
                ],

                labelLocation: "top"
            });
        });
    </script>
}