@using Recon.Models.Interface.Account;
@using Recon.Models.Model.Account
@inject IUserService Auth

<div id="gridContainer"></div>

<script>
    var userData;

    $.ajax({
        url: `@Url.Content("~/api/ListUser")`,
        type: 'GET',
        dataType: 'json',
        async: false,
        success: function (data) {
            userData = data
            console.log(data)
        },
        error: function (error) {
            console.log(error); 
        }
    });

    var roleData;

    $.ajax({
        url: `@Url.Content("~/api/ListRole")`,
        type: 'GET',
        dataType: 'json',
        async: false,
        success: function (data) {
            roleData = data
           console.log(data)
        },
        error: function (error) {
            console.log(error); 
        }
    });

    $(function () {
        //var dataSource = @Html.Raw(ViewBag.data);

        var Data = new DevExpress.data.DataSource({
            store: {
                type: 'array',
                data: @Html.Raw(ViewBag.data)
                }
        });
        $("#gridContainer").dxDataGrid({
            dataSource: Data,
            columns: [
              
                 {
                    dataField: "roleId",
                    caption: "Szerepkör",
                    lookup: {
                        dataSource: roleData,
                        valueExpr: "id",
                        displayExpr: "name",
                    },
                },
                {
                    dataField: "userId",
                    caption: "Felhasználó",
                    lookup: {
                        dataSource: userData,
                        valueExpr: "userId",
                        displayExpr: "name",
                    },
                },
                {
                    type: 'buttons',
                    buttons: [
                       
                        {
                            hint: 'Törlés',
                            icon: 'remove',
                            onClick(e) {

                                console.log(e.row)
                                console.log(e.row.data.AttendanceId)
                                //Api

                                if (`@Auth.GetRolesForUser(Auth.GetUserId()).Any(r => r.Name == "Admin" || r.Name == "Hr")` == 'False') {
                                    DevExpress.ui.notify("Nem rendelkezel a megfelelő jogosultsággal", "error", 4000);
                                } else {
                                    const confirmation = window.DevExpress.ui.dialog.confirm("Biztosan törölni szeretné a szerepkört?", "Megerősítés");
                                    confirmation.then((dialogResult) => {
                                        if (dialogResult === true) {
                                            $.ajax({
                                                type: "POST",
                                                url: "@Url.Content("~/UsersInRoles/Delete?roleid=")"+ e.row.data.roleId+"&userid="+e.row.data.userId,
                                                success: function () {
                                                    Data.store().remove(e.row.data);
                                                    Data.reload().done(function () {
                                                        DevExpress.ui.notify("Sikeresen törölted a felhasználót a csoportból ", "success", 4000);
                                                    })
                                                        .fail(function (error) {
                                                            DevExpress.ui.notify("Hiba történt a frissítés közben: " + error, "error", 4000);
                                                        });
                                                },
                                                error: function () {
                                                    //window.DevExpress.ui.dialog.alert("Hiba történt a szerepkör törlésekor!", "Hiba");
                                                    DevExpress.ui.notify("Hiba történt a törléskor! ", "error", 4000);
                                                }
                                            });
                                        }
                                    });
                                }
                            }
                        }
                    ]
                },


            ],
            toolbar: {
                items: [
                    {
                        widget: "dxButton",
                        options: {
                            icon: 'add',
                            onClick() {
                                window.location.href = `@Url.Content("~/UsersInRoles/Create/")`;
                            }
                        }
                    }

                ]
            }



        });
    });
</script>