
<form action="@Url.Content("~/Roles/Create/")" method="post">
    <div id="form-container"></div>
</form>



@section scripts {
    <script>

     

        $(function () {
            $("#form-container").dxForm({
                items: [

                    {
                        dataField: "Name",
                        label: { text: "Name" }
                    },
                  
                    {
                        itemType: "button",
                        buttonOptions: {
                            text: "Save",
                            type: "success",
                            useSubmitBehavior: true,
                        }
                    }
                ],

                labelLocation: "top"
            });
        });
    </script>
}