
<form action="@Url.Content("~/Roles/Edit/")" method="post">
    <div id="form-container"></div>
</form>



@section scripts {
    <script>
       
        $(function () {


            var formData = @Html.Raw(ViewBag.data);
            $("#form-container").dxForm({
                formData: formData,
                items: [
                    {
                        dataField: "Id",
                        label: { text: "Szerepkör azonosítója" },
                        editorOptions: {
                            readOnly: true
                        }

                    },
                    {
                        dataField: "Name",
                        label: { text: "Szerepkör neve" }
                    },
                 
                    {
                        itemType: "button",
                        buttonOptions: {
                            text: "mentés",
                            type: "success",
                            useSubmitBehavior: true,
                        }
                    }
                ],

                labelLocation: "top"
            });
        });
    </script>
}