<div id="gridContainer"></div>

<script>
   

    $(function () {
        var dataSource = @Html.Raw(ViewBag.data);

        $("#gridContainer").dxDataGrid({
            dataSource: dataSource,
            columns: [
                { dataField: "Id", caption: "Szerepkör azonosítója" },
                { dataField: "Name", caption: "Szerepkör neve" },
           
                {
                    type: 'buttons',
                    buttons: [
                        {
                            hint: 'Módosítás',
                            icon: 'edit',
                            onClick(e) {
                                window.location.href = `@Url.Content("~/Roles/Edit/")${e.row.data.Id}`;
                            }
                        },
                        {
                            hint: 'Törlés',
                            icon: 'remove',
                            onClick(e) {

                                console.log(e.row)
                                console.log(e.row.data.AttendanceId)
                                //Api
                               

                                const confirmation = window.DevExpress.ui.dialog.confirm("Biztosan törölni szeretné a szerepkört?", "Megerősítés");
                                confirmation.then((dialogResult) => {
                                    if (dialogResult === true) {
                                        $.ajax({
                                            type: "POST",
                                            url: "@Url.Content("~/Roles/Delete/")" + e.row.data.Id,
                                            success: function () {
                                                location.reload();
                                            },
                                            error: function () {
                                                window.DevExpress.ui.dialog.alert("Hiba történt a szerepkör törlésekor!", "Hiba");
                                            }
                                        });
                                    }
                                });
                            }
                        }
                    ]
                },


            ],
            toolbar: {
                items: [
                    {
                        widget: "dxButton",
                        options: {
                            icon: 'add',
                            onClick() {
                                window.location.href = `@Url.Content("~/Roles/Create/")`;
                            }
                        }
                    }

                ]
            }



        });
    });
</script>