
<form action="@Url.Content("~/Groups/Create/")" method="post">
    <div id="form-container"></div>
</form>



@section scripts {
    <script>

          var userData;

            $.ajax({
            url: `@Url.Content("~/api/ListUser")`,
            type: 'GET',
            dataType: 'json',
            async:false,
            success: function (data) {
                userData=data
                console.log(data)
            },
            error: function (error) {
                console.log(error); // This will log any errors to the console
            }
        });

        $(function () {            
            $("#form-container").dxForm({               
                items: [
                   
                    {
                        dataField: "Name",
                        label: { text: "Name" }
                    },
                    {
                            dataField: "principalId",
                            editorType:'dxLookup',
                            editorOptions:{
                                dataSource: userData,
                                displayExpr:'name',
                                valueExpr:'userId'

                            }
                           
                        },
                    {
                        itemType: "button",
                        buttonOptions: {
                            text: "Save",
                            type: "success",
                            useSubmitBehavior: true,
                        }
                    }
                ],

                labelLocation: "top"
            });
        });
    </script>
}