
<form action="@Url.Content("~/Groups/Edit/")" method="post">
    <div id="form-container"></div>
</form>



@section scripts {
        <script>
            var userData;

            $.ajax({
            url: `@Url.Content("~/api/ListUser")`,
            type: 'GET',
            dataType: 'json',
            async:false,
            success: function (data) {
                userData=data
                //console.log(data)
            },
            error: function (error) {
                console.log(error); // This will log any errors to the console
            }
        });
       // console.log(userData)
            $(function() {


                var formData = @Html.Raw(ViewBag.data);
                $("#form-container").dxForm({
                    formData: formData,
                    items: [
                        {
                            dataField: "groupId",
                            label: { text: "Group ID" },
                            editorOptions: {
                                readOnly: true
                            },
                            label: {
                                text: "Munkacsoport azonosító"
                            }
                            
                        },
                        {
                            dataField: "Name",
                            label: { text: "Munkacsoport" }

                        },
                        {
                            dataField: "principalId",
                            editorType:'dxLookup',
                            editorOptions:{
                                dataSource: userData,
                                displayExpr:'name',
                                valueExpr:'userId'

                            },
                            label: { text: "Felettes" }
                           
                        },
                        {
                            itemType: "button",
                            buttonOptions: {
                                text: "Mentés",
                                type: "success",
                                useSubmitBehavior:true,
                            }
                        }
                    ],
                  
                    labelLocation: "top"
                });
            });
        </script>
}