<div id="gridContainer"></div>

<script>
    var userData;

    $.ajax({
        url: `@Url.Content("~/api/ListUser")`,
        type: 'GET',
        dataType: 'json',
        async: false,
        success: function (data) {
            userData = data
            console.log(data)
        },
        error: function (error) {
            console.log(error); // This will log any errors to the console
        }
    });

    $(function () {
        var dataSource = @Html.Raw(ViewBag.data);

        $("#gridContainer").dxDataGrid({
            dataSource: dataSource,
            columns: [
                { dataField: "groupId", caption: "Munkacsoport azonosító" },
                { dataField: "Name", caption: "Munkacsoport" },
                //{ dataField: "principalId", caption: "Principal ID" }, 
                {
                    dataField: "principalId",
                    caption: "Felettes",
                    lookup: {
                        dataSource: userData,
                        valueExpr: "userId",
                        displayExpr: "name",
                    },
                },
                {
                    type: 'buttons',
                    buttons: [
                        {
                            hint: 'Módosítás',
                            icon: 'edit',
                            onClick(e) {                                                             
                                window.location.href = `@Url.Content("~/Groups/Edit/")${e.row.data.groupId}`;
                            }
                        },
                        {
                            hint: 'Törlés',
                            icon: 'remove',
                            onClick(e) {
                                
                                console.log(e.row)
                                console.log(e.row.data.AttendanceId)
                                //Api
                                //window.location.href = `@Url.Content("~/Groups/Delete/")${e.row.data.groupId}`;

                                const confirmation = window.DevExpress.ui.dialog.confirm("Biztosan törölni szeretné a csoportot?", "Megerősítés");
                                confirmation.then((dialogResult) => {
                                    if (dialogResult === true) {
                                        $.ajax({
                                            type: "POST",
                                            url: "@Url.Content("~/Groups/Delete/")" + e.row.data.groupId,
                                            success: function () {
                                                location.reload();
                                            },
                                            error: function () {
                                                window.DevExpress.ui.dialog.alert("Hiba történt a csoport törlésekor!", "Hiba");
                                            }
                                        });
                                    }
                                   });
                            }
                        }
                    ]
                 },

              
            ],
            toolbar: {
                items: [
                    {
                        widget: "dxButton",
                        options: {
                            icon: 'add',
                            onClick() {
                                window.location.href = `@Url.Content("~/Groups/Create/")`;
                            }
                        }
                    }

                ]
            }
           
           
           
        });
    });
</script>