@using Recon.Models.Interface.Account;
@using Recon.Models.Model.Account

@inject IUserService Auth

<div class="dashboard-container">
    <a class="dashboard-link" href="@Url.Action("UpdateWorkingHour", "Dashboard")">
    <div class="dashboard-item">
        <h3>Munkaidő</h3>
       
            Munkaidő fríssitése
       
    </div>
    </a>
    <a class="dashboard-link" href="@Url.Action("UpdatePassword", "Account")">
    <div class="dashboard-item">
        <h3> Jelszó </h3>
        
            Jelszó módosítás
        
    </div>
    </a>
    <a class="dashboard-link" href="@Url.Action("UpdatePersonalInfo", "Account")">
    <div class="dashboard-item">
        <h3>Adatok</h3>
       
           Személyes adatok
        
    </div>
    </a>
</div>

<style>
    .dashboard-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        margin-top: 50px;
    }

    .dashboard-item {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
        padding: 20px;
        text-align: center;
        width: 250px;
    }

    .dashboard-link {
        color: #007bff;
        font-size: 18px;
        text-decoration: none;
    }

        .dashboard-link:hover {
            text-decoration: none;
        }
</style>