html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 60px;
    font-weight:800;

}


a {
    color: inherit;
    text-decoration: none;
}
/*
.approved-appointment {
    background-color:red!important;
}

.unapproved-appointment {
    background-color: green !important;
}
    */
.ticket-list {
    display: block;
    /* flex-direction: column;
    gap: 20px;*/
}

.ticket-box {
   
    margin-top:50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ticket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .ticket-header h3 {
        margin: 0;
    }

    .ticket-header span {
        font-size: 14px;
        color: #888;
    }

.ticket-body {
    margin-top: 10px;
    margin-bottom: 20px;
}

    .ticket-body p {
        margin: 0;
    }

    .ticket-body strong {
        font-weight: bold;
    }

.ticket-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

    .ticket-footer span {
        font-size: 14px;
        font-weight: bold;
        color: "#4CAF50";
    }

.dx-button {
    background-color: #6C63FF !important;
    color: white !important;
    border-color: #6C63FF !important;
    border: 1px solid #6C63FF !important;
}
.dx-icon {
    
    color: white !important;
}

.dx-button-text {
    color: white !important;
}

#toast-container > .notificitaion-toast-recon {
    width: 600px !important;
    border-radius: 40px;
}



.toast-info {
    background-color: #6C63FF!important;
}

/*
    Shape in footer 
*/
.custom-shape-divider-bottom-1679662860 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679662860 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 140px;
}

.custom-shape-divider-bottom-1679662860 .shape-fill {
    fill: #6C63FF;
}
/*
    End shape in footer 
*/

.dx-widget dx-button dx-button-mode-contained dx-button-normal dx-button-has-icon dx-revert-button {
    border-color: black !important;
}