<style>
    .containerAcces {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh; /* or set a fixed height */
    }

    h1, img {
        text-align: center;
        margin: 0 auto;

    }
</style>

<div class="containerAcces">
    <h1 style="margin-top:180px; color:#6C63FF; font-weight:900;">Sajnos az oldal nem található</h1>
    
    <img style="margin-top:50px;" src="~/img/notfound.svg" width="600" height="600" />

</div>