@using Newtonsoft.Json;
@using Recon.Utility;
@model Recon.ViewModel.LoginViewModel
<style>
    .login-background {
        background: #ededed;
        border-radius: 50px;
        /*display: flex;
            flex-direction: row;*/
        justify-content: space-between;
        align-items: center;
        padding: 50px;
    }

    .login-form {
        width: 100%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="row" style="margin-top:150px!important;">

    <div class="col-xl-4 col-xxl-4 col-sm-10">
        <img src="~/img/singupsvg.svg" style="width: 400px; height: 400px;" />
    </div>

    <div class="col-sm-10 col-xl-4 col-xxl-4 login-form" style="margin-top:50px!important;">
        <h2 style="text-align:center">Bejelentkezés</h2>
        <form id="login-form" asp-action="Login" method="post">
            <div id="form-container"></div>
            <div class="text-danger">@Html.ValidationSummary(true)</div>
        </form>
    </div>

</div>

<script>
    $(function () {
        var form = $("#form-container").dxForm({
            formData: {},
            colCount: 1,
            labelLocation: "top",
            items: [{
                dataField: "username",
                editorType: "dxTextBox",
                label: { text: "Felhasználónév" }
            }, {
                dataField: "password",
                editorType: "dxTextBox",
                editorOptions: {
                    mode: "password"
                },
                label: { text: "Jelszó" }
            }, {
                itemType: "button",
                buttonOptions: {
                    text: "Bejelentkezés",
                    type: "success",
                    useSubmitBehavior: true
                }
            }]
        }).dxForm("instance");

       
    });
</script>