@model Recon.ViewModel.RegisterViewModel

<h2>Regisztráció</h2>

<form asp-action="Register" method="post">
    <div id="form"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    
</form>
<script>
        $(function() {
    $("#form").dxForm({
        formData: {},
        items: [
            {
                dataField: "Email",
                label: { text: "E-mail" },
                editorType: "dxTextBox"
            },
           
            {
                dataField: "Username",
                label: { text: "Felhasználónév" },
                editorType: "dxTextBox"
            },
            {
                itemType: "button",
                buttonOptions: {
                    text: "Regisztrálás",
                    type: "success",
                    useSubmitBehavior: true
                }
            }
        ],
        colCount: 1,
        labelLocation: "top",
        minColWidth: "300px",
        showColonAfterLabel: true,
        validationGroup: "register",
        onFieldDataChanged: function(e) {
            // Field data changed event
        },
        onEditorEnterKey: function(e) {
            // Enter key pressed event
        }
    });
});
</script>
    