@model Recon.ViewModel.ChangePasswordViewModel

<h1 style="text-align:center!important;">Jelszó módosítás</h1>
<form asp-action="UpdatePassword" method="post">
    <div id="form-container"></div>
    <div class="text-danger">@Html.ValidationSummary(true)</div>
   
   
</form>
<script>
    $(function () {
        var form = $("#form-container").dxForm({
            formData: {},
            colCount: 1,
            labelLocation: "top",
            items: [{
                dataField: "OldPassword",
                 editorType: "dxTextBox",
                editorOptions: {
                    mode: "password"
                },
                label: { text: "Régi jelszó" }
            }, {
                dataField: "NewPassword",
                editorType: "dxTextBox",
                editorOptions: {
                    mode: "password"
                },
                label: { text: "Új jelszó" }
            }, {
                itemType: "button",
                buttonOptions: {
                    text: "Mentés",
                    type: "success",
                    useSubmitBehavior: true
                }
            }]
        }).dxForm("instance");


    });

</script>