@model Recon.Models.Model.Account.Person

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center!important;">Személyes információ</h1>

<form action="@Url.Action("UpdatePersonalInfo")" method="post">
    
    <div id="form-container"></div>
</form>


<script>
    $(function () {
        var formData = @Html.Raw(ViewBag.data);

        $("#form-container").dxForm({
            formData: formData,
            items: [
               {
                    dataField: "userId",
                    label: { text: "Id" },
                    visible: false,
                    readOnly: true

                },
                {
                    dataField: "FirstName",
                    label: { text: "Keresztnév" }
                },
                {
                    dataField: "LastName",
                    label: { text: "Vezetéknév" }
                },
                {
                    dataField: "PhoneNumber",
                    label: { text: "Telefonszám" }
                },
                {
                    dataField: "Address",
                    label: { text: "Cím" }
                },
                {
                    dataField: "City",
                    label: { text: "Település" }
                },
                {
                    dataField: "State",
                    label: { text: "Megye" }
                },
                {
                    dataField: "PostalCode",
                    label: { text: "Irányítószám" }
                },
                {
                    dataField: "Country",
                    label: { text: "Ország" }
                },
                {
                    dataField: "age",
                    label: { text: "Életkor" }
                },
                {
                    dataField: "Gender",
                    label: { text: "Nem" }
                },
                {
                    itemType:"button",
                    buttonOptions:{
                        text:"Mentés",
                        useSubmitBehavior:true,
                        width:"150px",

                    }
                }
            ],
            colCount: 2,
            labelLocation: "top",
                
        });

        

    });
</script>
