
<form action="@Url.Content("~/GroupMembers/Create/")" method="post">
    <div id="form-container"></div>
</form>



@section scripts {
    <script>

        var userData;

        $.ajax({
            url: `@Url.Content("~/api/ListUser")`,
            type: 'GET',
            dataType: 'json',
            async: false,
            success: function (data) {
                userData = data
                console.log(data)
            },
            error: function (error) {
                console.log(error); // This will log any errors to the console
            }
        });

        var groupData;

        $.ajax({
            url: `@Url.Content("~/api/ListGroup")`,
            type: 'GET',
            dataType: 'json',
            async: false,
            success: function (data) {
                groupData = data
                console.log(data)
            },
            error: function (error) {
                console.log(error); // This will log any errors to the console
            }
        });

        $(function () {
            $("#form-container").dxForm({
                items: [

                    {
                        dataField: "groupId",
                        editorType: 'dxLookup',
                        editorOptions: {
                            dataSource: groupData,
                            displayExpr: 'name',
                            valueExpr: 'groupId'

                        },
                        label: {
                            text: "Munkacsoport"
                        }

                    },
                    {
                        dataField: "userId",
                        editorType: 'dxLookup',
                        editorOptions: {
                            dataSource: userData,
                            displayExpr: 'name',
                            valueExpr: 'userId'

                        },
                         label: {
                            text: "Felhasználó"
                        }

                    },
                    {
                        itemType: "button",
                        buttonOptions: {
                            text: "Save",
                            type: "success",
                            useSubmitBehavior: true,
                        }
                    }
                ],

                labelLocation: "top"
            });
        });
    </script>
}